.main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  overflow: hidden;
  padding: 0 2rem;
  overflow-y: auto;
}

.wrapper_country_description {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 14rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.container_country_description {
  display: flex;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.container_country_title {
  color: var(--color);
}

.container_country_temp {
  color: var(--color);
  font-size: 3rem;
}

.container_country_icon {
  color: var(--color);
  font-size: 2rem;
}

.wrapper_country_days {
  display: grid;
  gap: 2rem;
  grid-auto-rows: 22rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.container_country_days {
  display: flex;
  padding: 2rem;
  border-radius: 2rem;
  background-color: var(--secondary-bg-color);
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.container_country_days_image {
  width: 7rem;
}

.container_country_days_title {
  color: var(--color);
}

.container_country_days_temp {
  color: var(--color);
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .main {
    width: 100vw;
    height: auto;
    padding: 2rem 0;
  }
}
