.form {
  position: relative;
  width: 100%;
}

.input {
  background-color: var(--primary-bg-color);
  border: none;
  outline: none;
  padding: 1rem 3rem;
  width: 100%;
  border-radius: 2rem;
  color: var(--color);
}

.input:focus {
  outline: 2px solid blue;
}

.icon {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 1rem;
  display: inline-flex;
  align-items: center;
}

.icon svg {
  font-size: 1rem;
  color: gray;
}

.button {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0;
  display: inline-flex;
  align-items: center;
  border: none;
  background-color: transparent;
  border-radius: 2rem;
  padding: 0 1rem;
}

.button svg {
  font-size: 1rem;
  color: var(--color);
}

.search_suggestions {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  background-color: var(--primary-bg-color);
  color: var(--color);
  margin-top: 1rem;
  z-index: 1;
  width: 100%;
  padding: 2rem;
  border-radius: 2rem;
}

.item {
  cursor: pointer;
  padding: 0.5rem;
}

.item:hover {
  font-weight: bold;
}

.item:focus {
  outline: 2px solid blue;
  border-radius: 2rem;
}
